table {
  width: 100vh;
  line-height: 55px;
  border-collapse: collapse;
  font-size: 0.9rem;

  td {
    background-color: #ffffff;
    border-bottom: 10px solid var(--bg);
    padding: 0 1rem;
    position: relative;

    i {
      position: absolute;
      margin-top: 0.11rem;
      margin-left: -2rem;
    }

    & + td {
      & + td {
        padding: 0 2rem;
      }
    }
  }

  .name {
    font-weight: bold;
  }
}
